{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
    <div style="text-align: center;">
        <h1>로그인</h1>
        <form method="POST">
            {% csrf_token %}
            아이디:
            <br>
            <input name="username" type="text" required>
            <br>
            비밀번호:
            <br>
            <input name="password" type="password" required>
            <br><br>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>
</div>
{% endblock %}