{% extends 'base.html' %}
{% block content %}


<div class="container" style="text-align: center;">
    <h1>회원가입</h1>
    <form method="POST">
        {% csrf_token %}
        아이디: <br>
        <input name="username" type="text" placeholder="4~20자" required>
        <br>
        비밀번호: <br>
        <input name="password1" type="password" placeholder="8~20자" required>
        <br>
        비밀번호 확인: <br>
        <input name="password2" type="password" required>
        <br>
        이메일: <br>
        <input name="email" type="email" required>
        <br><br>
        <input type="submit" class="btn btn-primary" value="Sign Up">
    </form>
</div>
{% endblock %}