{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .card-body h5, p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 col-12">
            <div class="card" style="width: 18rem; margin-top: 20px;">
            	{% if post.image %}
                	<img src="{{ post.image.url }}" width="fit-content" height="200rem" alt="...">
            	{% endif %}
                <div class="card-body">
                	<h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p style="font-size : 80%">조회수 : {{ post.view_count }} 작성자 : {{ post.author }}</p>
                	<p style="font-size : 80%">{{ post.created_at }}</p>
                	<a href="{{ post.get_absolute_url }}" class="btn btn-primary">자세히보기</a>
            	</div>
    		</div>
        </div>
        
        {% endfor %}
    </div> 
</div>

{% endblock %}